    <div class="contentCard" translate="no">
        <div id="prices">
            <div class="liveCard">
                <p>LIVE PRICES <span class="iconify" data-icon="charm:chart-bar" style="color: #ecd700;"></span></p>
            </div>
    
            <lord-icon id="arrow" src="https://cdn.lordicon.com/xhdhjyqy.json" trigger="loop" state="hover-2"></lord-icon>
    
            <select id="combo">
                <option value="" disabled selected>- Select a mineral -</option>
                <option value="1">GOLD</option>
                <option value="2">SILVER</option>
            </select>
    
            <h3 id="titlePrices">Mineral</h3>
    
            <div class="infoMineral">
                <p><b>BID</b> - <span id="bid">0</span> USD</p>
                <p><b>ASK</b> - <span id="ask">0</span> USD</p>
            </div>
        </div>
    </div>